h3 {
    color: rgb(183, 202, 245);
}

.container {
    color: rgb(205, 183, 226);
    border-style: dashed;
    border-color: rgb(255, 238, 177);
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.container-bg {
    background-color: rgb(247, 215, 202);
}

.my-font {
    font-family: "Kanit", sans-serif;
}

#container-id {
    color: rgb(238, 127, 164);
    margin-top: 50px;
}